
<ion-split-pane contentId="menu-content">
  <!--  our side menu  -->
  <ion-menu type="overlay" contentId="menu-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>設定</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="openProfile()" button=true>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>プロフィール</ion-label>
        </ion-item>
        <ion-item (click)="signOut()" button=true>
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>ログアウト</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- the main content -->
  <ion-content id="menu-content" scrollY="false">
    <ion-header>
      <ion-toolbar color="playmat">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ルーム一覧</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content color="playmat">
      <ion-card button="true" color="primary" *ngFor="let room of roomList | async; trackBy: trackByFn" routerLink="/poker/{{room.roomId}}">
        <ion-card-content>
          <strong>{{room.roomName}}</strong>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-content>
</ion-split-pane>
