.p-card {
  border: solid 1px #4e4e4e;
  border-radius: 10px;
  width: 70px;
  height: 100px;
  margin: auto;
}

.blank-card {
  border: dashed 1px #4e4e4e;
  border-radius: 10px;
  background-color: white;
  width: 70px;
  height: 100px;
  margin: auto;
  .blank-context {
    color: var(--ion-color-medium);
    font-size: 15px;
  }
}

.middle-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 100px;
}
