<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/poker"></ion-back-button>
    </ion-buttons>
    <ion-title>room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane contentId="playarea" when="md">
    <!--  チャットエリア  -->
    <ion-menu menuId="chat" contentId="playarea" side="end" class="custom-menu">
      <ion-content>
      </ion-content>

      <ion-footer>
        <ion-textarea placeholder="Text Area"></ion-textarea>
      </ion-footer>
    </ion-menu>

    <!--  プレイエリア  -->
    <div class="ion-page" id="playarea">
      <ion-content color="playmat" class="ion-padding-top">
        <!-- カード表示エリア -->
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let u of users | async; trackBy: trackByFn" size-lg="2" size-md="3" size-sm="2" size="3">
              <app-poker-card [number]="u.card" userColor="primary" [isOpen]="u.id === user.id"></app-poker-card>
              <!-- ユーザー名 -->
              <div color="primary" class="ion-text-center text-ellipse">{{u.name}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <!-- チャットエリアを表示するボタン -->
        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-menu-toggle menu="chat">
            <ion-fab-button color="primary">
              <ion-icon name="chatboxes"></ion-icon>
            </ion-fab-button>
          </ion-menu-toggle>
        </ion-fab>
      </ion-content>

      <ion-footer>
        <div scrollX="true" class="hand-area">
          <app-poker-card class="hand-card" [number]="num" userColor="primary" [isOpen]="true"
            *ngFor="let num of ['0', '1/2', '1', '2', '3', '5', '8', '13', '20', '40', '100', '∞', '?', null]" (click)="updateCard(num)">
          </app-poker-card>
        </div>
      </ion-footer>
    </div>
  </ion-split-pane>
</ion-content>
